input {
  margin: 20px;
  border: solid white 2px;
  border-radius: 10px;
  width: 50%;
  background: transparent;
}

.formSection {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0px 5px;
  margin: 15px;
  box-shadow: rgba(17, 17, 26, 1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  width: 70%;
}

#goalsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* CSS */
.addGoalButton {
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  width: 20%;
  font-size: 25px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  color: white;
}

.goal {
}

.goals {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0px 5px;
  margin: 15px;
  box-shadow: rgba(17, 17, 26, 1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  width: 70%;
  height: 200px;
}

.goalsTable {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 150px 0px 150px;
  /* position: absolute;
  top: 0;
  bottom : 0;
  left: 0;
  right: 0;
  z-index: 1; */
}
