.formSection {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0px 5px;
  margin-bottom: 45px;
  box-shadow: rgba(17, 17, 26, 1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  width: 50%;
}

#goalsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

input {
  margin: 20px;
  border: solid white 2px;
  border-radius: 10px;
  width: 50%;
  background: transparent;
}


/* CSS */
.addGoalButton {
  background-color: rgba(51, 51, 51, 0.288);
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  width: 30%;
  font-size: 20px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  color: white;
}

.goalsTable {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 150px 0px 150px;
}

.goals {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0px 5px;
  margin: 15px;
  box-shadow: rgba(17, 17, 26, 1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  width: 50%;
  min-height: 30vh;
  overflow-y: auto;
}

ul {
  padding: 0%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.goal,
li {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  background-color: rgba(240, 255, 246, 0.541);
  border-radius: 20px;
  margin: 20px;
  width: 250px;
}

.content {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  visibility: hidden;
}

#removeButton,
#doneButton {
  background-color: rgba(102, 100, 100, 0.151);
  width: 50%;
  text-align: center;
  border-radius: 10px;
  margin: 0px 10px 0px;
  font-size: 10px;
}

.goal:hover .buttons {
  visibility: visible;
}

.disabled-goal {
  opacity: 0.4;
  pointer-events: none;
}


@media screen and (max-width: 600px) {
  .title{
    font-size: 30px;
  }
  .form {
    width: 70%;
  }

  label {
    font-size: 15px;
  }
  .label-input-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    margin: 20px auto;
    width: 200px;
    font-size: 12px;
  }

}
