.goalsTable {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px 0px 50px;
}
.formSection {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: rgba(17, 17, 26, 1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.26);
}

.text {
  padding-top: 10px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.815);
}

input {
  margin-bottom: 20px;
  border: solid white 3px;
  border-radius: 10px;
  width: 100%;
  background: transparent;
}

/* CSS */
.addGoalButton {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  width: 50%;
  font-size: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  margin-bottom: 20px;
}

.goals {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.26);
  margin: 15px;
  box-shadow: rgba(17, 17, 26, 1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  width: 50%;
  min-height: 30vh;
  overflow-y: auto;
}

ul {
  padding: 0%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.goal {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  border-radius: 20px;
  margin: 20px;
}

.content {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  visibility: hidden;
}

#removeButton,
#doneButton {
  background-color: rgba(102, 100, 100, 0.151);
  width: 50%;
  text-align: center;
  border-radius: 10px;
  margin: 0px 10px 0px;
  font-size: 10px;
}

.goal:hover .buttons {
  visibility: visible;
}

.disabled-goal {
  opacity: 0.4;
  pointer-events: none;
}

@media screen and (max-width: 700px) {
  .goalsTable {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formSection {
    min-width: 250px;
    min-height: 150px;
  }

  .text {
    margin-top: 10px;
    font-size: 15px;
  }

  input {
    border: solid white 2px;
    border-radius: 10px;
    width: 70%;
    background: transparent;
  }

  .addGoalButton {
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    border-width: 0;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .goals {
    min-width: 250px;
  }

  .goal {
    font-size: 10px;
  }
  .goal:hover .buttons {
    visibility: visible;
  }
}
