.quoteContainer {
  box-shadow: rgba(17, 17, 26, 1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0px 5px;
  margin: 15px;
  border-radius: 10px;
  margin: 50px;
}
