.quoteSection {
  display: flex;
  justify-content: center;
}
.quote {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin: 30px;
  width: 70%;
}

.content{
  font-size: 25px;
}
.author{
  font-size: 15px;
}


@media screen and (max-width: 600px) {
  .quote {
    margin: 15px;
    width: 80%;
  }
  .content {
    font-size: 15px;
  }
  .author{
    font-size: 10px;
  }
}
